{% extends "base.html" %}

{% block title %}Animateur: {{ personne }}{% endblock %}

{% block content %}
<h1>Animateur: {{ personne }}</h1>

<p>
Veuillez remplir cette fiche d'information
</p>

<ul class="nav nav-list" style="float:right;">
	<li class="nav-header">Séjours</li>
	{% for sa in personne.animateur.sejouranimateur_set.all %}
	<li><a href="{% url sejour sa.sejour.id %}">{{sa.sejour}}</a></li>
	{% endfor %}
	<li class="nav-header">Convoyages</li>
	{% for ca in personne.animateur.convoyageanimateur_set.all %}
	<li><a href="{% url convoyage ca.convoyage.id %}">{{ca.convoyage}}</a></li>
	{% endfor %}
</ul>

{% include "animateur_form.html" %}

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('.date').datepicker({ changeYear: true, yearRange: "-50:+1", dateFormat: "dd/mm/yy" });
});
</script>
{% endblock %}
