{% extends "base.html" %}

{% block title %}Animateur: {{ personne }}{% endblock %}

{% block content %}
<h1>Animateur: {{ personne }}</h1>

<p>
Veuillez remplir cette fiche d'information
</p>

{% if sejours or convoyages %}
<ul class="nav nav-list" style="float:right;">
	{% if sejours %}
		<li class="nav-header">Séjours</li>
		{% for sejour in sejours %}
		<li><a href="{% url sejour sejour.id %}">{{sejour}}</a></li>
		{% endfor %}
	{% endif %}
	{% if convoyages %}
		<li class="nav-header">Convoyages</li>
		{% for convoyage in convoyages %}
		<li><a href="{% url convoyage convoyage.id %}">{{convoyage}}</a></li>
		{% endfor %}
	{% endif %}
</ul>
{% endif %}

{% include "animateur_form.html" %}

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('.date').datepicker({ changeYear: true, yearRange: "-50:+1", dateFormat: "dd/mm/yy" });
});
</script>
{% endblock %}
