{% extends "base.html" %}

{% block title %}Convoyage: {{ convoyage }}{% endblock %}

{% block content %}

{% include "messages.html" %}

<h1>Convoyage {{ convoyage }}</h1>

{% if convoyage.convoyageanimateur_set.all %}
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr><th colspan="7">Les animateurs</th></tr>
		<tr>
			<th>Nom Prénom</th>
			<th>Entrée</th>
			<th>Sortie</th>
			<th>Fonction</th>
			<th>Mail</th>
			<th>Tel</th>
			<th>Portable</th>
		</tr>
	</thead>
{% for ca in convoyage.convoyageanimateur_set.all %}
	<tr>
		<td>{% if user.is_superuser %}<a href='{% url animateur ca.animateur.id %}'>{{ ca.animateur }}</a>	{% else %}{{ ca.animateur }}{% endif %}</td>
		<td>{{ ca.entree.ville }}</td>
		<td>{{ ca.sortie.ville }}</td>
		<td>{{ ca.get_role_display }}</td>
		<td>{{ ca.animateur.personne.email }}</td>
		<td>{{ ca.animateur.personne.tel }}</td>
		<td>{{ ca.animateur.personne.mobile }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% if convoyage.convoyagevacancier_set.all %}
<table class='table table-striped table-bordered table-condensed'>
	<thead>
		<tr><th colspan="4">Les vacanciers</th></tr>
		<tr>
			<th>Nom Prénom</th>
			<th>Entrée</th>
			<th>Autonomie</th>
			<th>Traitement</th>
		</tr>
	</thead>
{% for cv in convoyage.convoyagevacancier_set.all %}
	<tr>
		<td>{{ cv.vacancier }}</td>
		<td>{{ cv.entree }}</td>
		<td>{{ cv.vacancier.get_autonomie_display }}</td>
		<td>{% if cv.vacancier.traitement %}Oui{% else %}non{% endif %}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

<table class='table table-striped table-bordered table-condensed'>
	<thead>
		<tr>
			<th colspan="6">
				Les étapes du {{ convoyage.depart.date_arrivee|date:"d m Y" }}
				{% if convoyage.depart.date_arrivee|date:"d m Y" != convoyage.arrivee.date_arrivee|date:"d m Y" %}
					au {{ convoyage.arrivee.date_arrivee|date:"d m Y" }}
				{% endif %}
			</th>
		</tr>
		<tr>
			<th>Ville</th>
			<th>Arrivée</th>
			<th>Départ</th>
			<th>Entrées</th>
			<th>Sorties</th>
			<th>Total</th>
		</tr>
	</thead>
	{% regroup convoyage.etape_set.all|dictsort:"date_depart" by date_depart as etapes %}
	{% for es in etapes %}
	{% for e in es.list %}
	<tr>
		<td>{{ e.ville }}</td>
		<td>{{ e.date_arrivee|date:"H:i" }}</td>
		<td>{{ e.date_depart|date:"H:i" }}</td>
		<td>{{ e.entree|default_if_none:0 }}</td>
		<td>{{ e.sortie|default_if_none:0 }}</td>
		<td>{{ e.total }}</td>
	</tr>
	{% comment %}
		{% for ae in e.animateurEntree %}
		<tr>
			<td>&nbsp;->&nbsp;</td>
			<td>{{ ae.animateur }}</td>
			<td>{{ ae.get_role_display }}</td>
			<td>{{ ae.animateur.personne.email }}</td>
			<td>{{ ae.animateur.personne.tel }}</td>
			<td>{{ ae.animateur.personne.mobile }}</td>
		</tr>
		{% endfor %}
		{% for ae in e.animateurSortie %}
		<tr>
			<td>&nbsp;<-&nbsp;</td>
			<td>{{ ae.animateur }}</td>
			<td>{{ ae.get_role_display }}</td>
			<td>{{ ae.animateur.personne.email }}</td>
			<td>{{ ae.animateur.personne.tel }}</td>
			<td>{{ ae.animateur.personne.mobile }}</td>
		</tr>
		{% endfor %}
	{% endcomment %}
	{% endfor %}
	{% endfor %}
</table>

{% if caForm %}
<h2>Ajouter un convoyeur</h2>
<form method="post" class="form-horizontal" >
	{% csrf_token %}
	<fieldset>
		<input type="hidden" name="{{ caForm.convoyage.html_name }}" value="{{ convoyage.id }}" />
		<div class='control-group{% if caForm.animateur.errors %} error{% endif %}'>
			<label class='control-label' for='{{ caForm.animateur.html_name }}_rech'>{{ caForm.animateur.label }}:</label>
			<div class='controls'>
				<input class="rechercheAnimateur" type="text" name="recherche" value="" id="{{ caForm.animateur.html_name }}_rech" />
				<input type="hidden" name="{{ caForm.animateur.html_name }}" value="" />
				{% if caForm.animateur.errors %}
					<span class="help-inline">{% for error in caForm.animateur.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if caForm.role.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ caForm.role.html_name }}'>{{ caForm.role.label }}:</label>
			<div class='controls'>
				{{ caForm.role }}
				{% if caForm.role.errors %}
					<span class="help-inline">{% for error in caForm.role.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if caForm.entree.errors %} error{% endif %}'>
			<label class='control-label' for='{{ caForm.entree.html_name }}'>{{ caForm.entree.label }}:</label>
			<div class='controls'>
				<select name="{{ caForm.entree.html_name }}" id="{{ caForm.entree.html_name }}">
				{% for e in convoyage.etape_set.all %}
					<option value="{{ e.id }}"{% if forloop.first %} selected="selected" {% endif %}>{{ e.ville }}</option>
				{% endfor %}
				</select>
				{% if caForm.entree.errors %}
					<span class="help-inline">{% for error in caForm.entree.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if caForm.sortie.errors %} error{% endif %}'>
			<label class='control-label' for='{{ caForm.sortie.html_name }}'>{{ caForm.sortie.label }}:</label>
			<div class='controls'>
				<select name="{{ caForm.sortie.html_name }}" id="{{ caForm.sortie.html_name }}">
				{% for e in convoyage.etape_set.all %}
					<option value="{{ e.id }}"{% if forloop.last %} selected="selected" {% endif %}>{{ e.ville }}</option>
				{% endfor %}
				</select>
				{% if caForm.sortie.errors %}
					<span class="help-inline">{% for error in caForm.sortie.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" name="caForm" >Valider</button>
	</div>
</form>
{% endif %}

{% if eFormSet %}
<h2>Modifier les étapes</h2>
<form method="post" class="form-horizontal" >
	{% csrf_token %}
	{{ eFormSet.management_form }}
	<table class="table table-striped table-bordered table-condensed">
	<thead><tr><th>Ville</th><th>Arrivée</th><th>Départ</th><th>Entrées</th><th>Sorties</th></tr></thead>
	{% for form in eFormSet %}
	<tr>
		<td class='control-group{% if form.ville.errors %} error{% endif %}'>
			{{ form.id }}
			<input type="hidden" name="{{ form.convoyage.html_name}}" value="{{ form.convoyage.value }}" />
			{{ form.ville }}
			{% if form.ville.errors %}
				<span class="help-inline">{% for error in form.ville.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
		</td>
		<td class='control-group{% if form.date_arrivee.errors %} error{% endif %}'>
			<input type='text' name='{{ form.date_arrivee.html_name }}' value='{% if form.date_arrivee.value %}{{ form.date_arrivee.value|date:"d/m/Y H:i" }}{% endif %}' id='id_{{ form.date_arrivee.html_name }}' class='datetime datedebut' readonly='readonly' style='cursor:inherit;'/>
			{% if form.date_arrivee.errors %}
				<span class="help-inline">{% for error in form.date_arrivee.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
		</td>
		<td class='control-group{% if form.date_depart.errors %} error{% endif %}'>
			<input type='text' name='{{ form.date_depart.html_name }}' value='{% if form.date_depart.value %}{{ form.date_depart.value|date:"d/m/Y H:i" }}{% endif %}' id='id_{{ form.date_depart.html_name }}' class='datetime datefin' readonly='readonly' style='cursor:inherit;'/>
			{% if form.date_depart.errors %}
				<span class="help-inline">{% for error in form.date_depart.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
		</td>
		<td class='control-group{% if form.entree.errors %} error{% endif %}'>
			{{ form.entree }}
			{% if form.entree.errors %}
				<span class="help-inline">{% for error in form.entree.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
		</td>
		<td class='control-group{% if form.sortie.errors %} error{% endif %}'>
			{{ form.sortie }}
			{% if form.sortie.errors %}
				<span class="help-inline">{% for error in form.sortie.errors %}{{ error }}{% endfor %}</span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td class="form-actions" colspan="5" >
			<button type="submit" class="btn btn-primary" name="eFormSet" >Valider</button>
		</td>
	</tr>
	</table>
</form>
{% endif %}

{% if eForm %}
<h2>Ajouter une étape</h2>
<form method="post" class="form-horizontal" >
	{% csrf_token %}
	<fieldset>
		<input type="hidden" name="{{ eForm.convoyage.html_name}}" value="{{ convoyage.id }}" />
		<div class='control-group{% if eForm.ville.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ eForm.ville.html_name }}'>{{ eForm.ville.label }}:</label>
			<div class='controls'>
				{{ eForm.ville }}
				{% if eForm.ville.errors %}
					<span class="help-inline">{% for error in eForm.ville.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if eForm.date_arrivee.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ eForm.date_arrivee.html_name }}'>{{ eForm.date_arrivee.label }}:</label>
			<div class='controls'>
				<input type='text' name='{{ eForm.date_arrivee.html_name }}' value='{% if eForm.date_arrivee.value %}{{ eForm.date_arrivee.value|date:"d/m/Y H:i" }}{% endif %}' id='id_{{ eForm.date_arrivee.html_name }}' class='datetime datedebut' readonly='readonly' style='cursor:inherit;'/>
				{% if eForm.date_arrivee.errors %}
					<span class="help-inline">{% for error in eForm.date_arrivee.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if eForm.date_depart.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ eForm.date_depart.html_name }}'>{{ eForm.date_depart.label }}:</label>
			<div class='controls'>
				<input type='text' name='{{ eForm.date_depart.html_name }}' value='{% if eForm.date_depart.value %}{{ eForm.date_depart.value|date:"d/m/Y H:i" }}{% endif %}' id='id_{{ eForm.date_depart.html_name }}' class='datetime datefin' readonly='readonly' style='cursor:inherit;'/>
				{% if eForm.date_depart.errors %}
					<span class="help-inline">{% for error in eForm.date_depart.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if eForm.entree.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ eForm.entree.html_name }}'>{{ eForm.entree.label }}:</label>
			<div class='controls'>
				{{ eForm.entree }}
				{% if eForm.entree.errors %}
					<span class="help-inline">{% for error in eForm.entree.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
		<div class='control-group{% if eForm.sortie.errors %} error{% endif %}'>
			<label class='control-label' for='id_{{ eForm.sortie.html_name }}'>{{ eForm.sortie.label }}:</label>
			<div class='controls'>
				{{ eForm.sortie }}
				{% if eForm.sortie.errors %}
					<span class="help-inline">{% for error in eForm.sortie.errors %}{{ error }}{% endfor %}</span>
				{% endif %}
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" name="eForm" >Valider</button>
	</div>
</form>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$('.datetime').datetimepicker({ changeYear: true, yearRange: "-1:+1", dateFormat: "dd/mm/yy", timeFormat: "hh:mm", stepMinute: 5 });
	$('.datetime.datedebut').datetimepicker("option",{
		onClose: function(dateText, inst) {
			var id = this.id;
			var finId = id.replace(/arrivee/,'depart');
			var $fin = $('#'+finId);
			var dateDebut = new Date(frenchDate2javascriptDate(dateText));
			if ($fin.val() != '') {
				var dateFin = new Date(frenchDate2javascriptDate($fin.val()));
				if (dateDebut > dateFin)
					$fin.val(dateText);
			} else {
				$fin.val(dateText);
			}
			$fin.datetimepicker('option', 'minDate', dateDebut);
		}
	});
	$('.datetime.datefin').datetimepicker("option",{
		onClose: function(dateText, inst) {
			var id = this.id;
			var debutId = id.replace(/depart/,'arrivee');
			var $debut = $('#'+debutId);
			var dateFin = new Date(frenchDate2javascriptDate(dateText));
			if ($debut.val() != '') {
				var dateDebut = new Date(frenchDate2javascriptDate($debut.val()));
				if (dateDebut > dateFin)
					$debut.val(dateText);
			} else {
				$debut.val(dateText);
			}
			$debut.datetimepicker('option', 'maxDate', dateFin);
		}
	});
	function frenchDate2javascriptDate(date) {
		return date.replace(/^(\d{2})\/(\d{2})\/(\d{4})(.*)$/,'$3/$2/$1$4');
	}
});
</script>
{% endblock %}
