{% extends "base.html" %}

{% block title %}Convoyage: {{ convoyage }}{% endblock %}

{% block content %}
<h1>Convoyage {{ convoyage }} de {{ convoyage.depart }} à {{ convoyage.arrivee }}</h1>

<table class='animateur'>
	<tr><th colspan="6">Les animateurs</th></tr>
	<tr>
		<th>Nom Prénom</th>
		<th>Entrée</th>
		<th>Fonction</th>
		<th>Mail</th>
		<th>Tel</th>
		<th>Portable</th>
	</tr>
{% for ca in convoyage.convoyageanimateur_set.all %}
	<tr>
		<td>{{ ca.animateur }}</td>
		<td>{{ ca.entree }}</td>
		<td>{{ ca.get_role_display }}</td>
		<td>{{ ca.animateur.personne.email }}</td>
		<td>{{ ca.animateur.personne.tel }}</td>
		<td>{{ ca.animateur.personne.mobile }}</td>
	</tr>
{% endfor %}
</table>

<br/>
<table class='vacancier'>
	<tr><th colspan="4">Les vacanciers</th></tr>
	<tr>
		<th>Nom Prénom</th>
		<th>Entrée</th>
		<th>Autonomie</th>
		<th>Traitement</th>
	</tr>
{% for cv in convoyage.convoyagevacancier_set.all %}
	<tr>
		<td>{{ cv.vacancier }}</td>
		<td>{{ cv.entree }}</td>
		<td>{{ cv.vacancier.get_autonomie_display }}</td>
		<td>{% if cv.vacancier.traitement %}Oui{% else %}non{% endif %}</td>
	</tr>
{% endfor %}
</table>

<br/>
<table class='etape'>
	<tr>
		<th colspan="5">
			Les étapes du {{ convoyage.depart.date_arrivee|date:"d m Y" }}
			{% if convoyage.depart.date_arrivee|date:"d m Y" != convoyage.arrivee.date_arrivee|date:"d m Y" %}
				au {{ convoyage.arrivee.date_arrivee|date:"d m Y" }}
			{% endif %}
		</th>
	</tr>
	<tr>
		<th>Ville</th>
		<th>Arrivée</th>
		<th>Départ</th>
		<th>Nombre de vacanciers</th>
		<th>Nombre d'animateurs</th>
	</tr>
{% for e in convoyage.etape_set.all %}
	<tr>
		<td>{{e}}</td>
		<td>{{ e.date_arrivee|date:"H:i" }}</td>
		<td>{{ e.date_depart|date:"H:i" }}</td>
		<td>{{ e.vacancierEntree }}</td>
		<td>{{ e.animateurEntree }}</td>
	</tr>
{% endfor %}
</table>


{% endblock %}
