{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<p>
Bonjour bienvenue sur le site «séjours» des Éclaireuses Éclaireurs De France de Chalon-sur-Saône.
</p>
<p>
Utilisez la barre de menu ci-dessus pour aller sur votre fiche descriptive et la remplir.
</p>
<p>
Si vous avez déjà un séjour, vous pouvez aussi voir quelques informations concernant celui-ci.
</p>
<p style="margin-top:4em;">
Ce site est en pleine construction, soyez indulgent sur son caractère sobre et son manque de fonctionnalité.
</p>
<p style="margin-top:4em;">
Vous avez découvert un bug ? Remplissez un ticket sur le bug tracker de <a href="https://github.com/arnaudcordier/sejours/issues">«séjours»</a></br>
Vous savez programmer et vous aimeriez contribuer à l'amélioration de ce logiciel. Rendez-vous sur la page <a href="https://github.com/arnaudcordier/sejours">github du projet</a>.
</p>
{% endblock %}
