{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<p>
Bonjour bienvenu sur le site séjours des Éclaireurs et Éclaireuses de France.
</p>
<p>
Utilisez la barre de menu ci-dessus pour aller à votre fiche descriptive et le remplir.
</p>
<p>
Si vous avez déjà un séjour, vous pouvez aussi voir quelques informations concernant ce séjours
</p>
<p>
Ce site est en pleine construction, soyez indulgent sur son caractère sobre et son manque de fonctionnalité
</p>
{% endblock %}
