	{% if not user.is_superuser %}
		<li><a href="{% url mafiche %}">Ma fiche</a></li>
	{% endif %}

	{% for sejour in menu.sejours %}
		<li><a href="{% url sejour sejour.id %}">Mon séjour</a></li>
	{% endfor %}

	{% for convoyage in menu.convoyages %}
		<li><a href="{% url convoyage convoyage.id %}">Mon convoyage</a></li>
	{% endfor %}

	{% for saison in menu.saisons %}
		<li><a href="{% url saison saison.id %}">{{ saison }}</a></li>
	{% endfor %}

	{% if user.is_superuser %}
		{# Liens vers la liste des séjours de la saison #}
		{% for saison in menu.saisons %}
			<li><a href="{% url sejours saison.id %}">séjours de {{ saison }}</a></li>
		{% endfor %}

		{# Formulaire de recherche d'un animateur #}
		<li>
			<form class="form-inline" action="" style="margin:0;" id="voir_animateur_form">
				<input class="rechercheAnimateur input-medium" type="text" name="recherche" value="" placeholder="Voir un animateur" accesskey="1" />
				<input type="hidden" id="voir_animateur" value="" />
				<input type="submit" value="voir" class="btn btn-info" />
			</form>
		</li>
	{% endif %}

	<li><a href="{% url userena_signout %}">déconnexion</a></li>
