	<li><a href="/mafiche">Ma fiche</a></li>
	{% for sa in user.personne.animateur.sejouranimateur_set.all %}
		<li><a href="/sejour/{{ sa.sejour_id }}">Mon séjour</a></li>
	{% endfor %}
	{% for ca in user.personne.animateur.convoyageanimateur_set.all %}
		<li><a href="/convoyage/{{ ca.id }}">Mon convoyage</a></li>
	{% endfor %}
<!-- 	<li><a href="/{{ user.id }}/souhaits/">Mes choix</a></li> -->
	{% for s in lessaisons %}
		<li><a href="/saison/{{ s.id }}">{{ s }}</a></li>
	{% endfor %}
	{% if user.is_superuser %}
		{% for s in lessaisons %}
			<li><a href="/{{ s.id }}/sejours">sejours de {{ s }}</a></li>
		{% endfor %}
	{% endif %}
	<li>{{ saison }}</li>
	<li><a href="/accounts/signout/">déconnexion</a></li>
