{% extends "base.html" %}

{% block title %}La saison {{ lasaison }}{% endblock %}

{% block content %}

{% include "messages.html" %}

<h1>La saison : {{ lasaison }}</h1>

Les convoyages de cette saison

{% for c in convoyages %}
	<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th colspan="3">
				{% if user.is_superuser %}<a href="{% url convoyage c.id %}">{% endif %}
				Bus {{ c.bus }} de {{ c.depart.ville }} à {{ c.arrivee.ville }} le {{c.depart.date_arrivee|date:"d m Y"}}
				{% if user.is_superuser %}</a>{% endif %}
			</th>
		</tr>
		<tr><th>Ville</th><th>Arrivée</th><th>Départ</th></tr>
	</thead>
	{% regroup c.etape_set.all|dictsort:"date_depart" by date_depart as etapes %}
	{% for es in etapes %}
	<tr>
		{% for e in es.list %}
		<td>{{ e.ville }}</td><td>{{e.date_arrivee|date:"H:i"}}</td><td>{{e.date_depart|date:"H:i"}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
{% endfor %}

{% if sejoursImport %}
	<form method='post' enctype="multipart/form-data" >
		{% csrf_token %}
		<fieldset>
			<legend>Importer les séjours de cette saison (tsv : id	lieu	nom	date_debut	date_fin (où date = YYYY-MM-JJ))</legend>
			{{ sejoursImport.as_p }}
			<p><input type='submit' value='Importer' name='siForm' /></p>
		</fieldset>
	</form>
{% endif %}

{% if convoyagesImport %}
	<form method='post' enctype="multipart/form-data" >
		{% csrf_token %}
		<fieldset>
			<legend>Importer les convoyages de cette saison (tsv : bus	étape	date_heure_debut	date_heure_fin	entrée	sortie (où date_heure = AAAA-MM-JJ HH:MM))</legend>
			{{ convoyagesImport.as_p }}
			<p><input type='submit' value='Importer' name='convForm' /></p>
		</fieldset>
	</form>
{% endif %}

{% endblock %}
